.homePage{
    padding: 300px 50px 30px 50px;
    background-color: #23BBB7;
}


.homePage h1{
    font-size: 35px;
    font-weight: 900;
    color: #fff;
    line-height:50px;
}

.homePage p{
    color: #fff;

}

.homePage .btn{
    border: none;
    border-radius: 0px;
    padding: 10px 25px;
    color: #fff;
    background-color:transparent;
    font-weight: 600;
    border: 1px solid #fff;
    margin: 10px;
}

.homePage img{
    width: 100%;
    height: auto;
}

